body
  background-color #FFFFFF
  font-family Roboto

// MASTER INDEX
.header
  padding-top 10px
  border-bottom 1px solid #07A8F6
  margin-bottom 20px
  background-color $main-color
  color #FFFFFF
  input
    border 0px
    background-color transparent
    color #FFFFFF
    border-bottom 1px solid #FFFFFF
  .input-group-addon
    border 0px
    background-color transparent
    border-bottom 1px solid #FFFFFF
    padding 0px
  .fa-stack-2x
    color #FFFFFF
  .fa-stack-1x
    color $main-color
  a
    color #FFFFFF !important
    text-transform uppercase
    font-size 14px

#lnkBack
  text-transform uppercase
  i
    margin-right 5px
